<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stocker">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Stocker"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter Theme Metadata -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Stripe SDK Configuration -->
        <meta-data
            android:name="com.stripe.android.enable_logging"
            android:value="true" />
        <meta-data
            android:name="com.stripe.android.version"
            android:value="20.20.0" />

        <!-- Flutter Embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
